.container {
    height: 100vh;
    position: relative;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
    animation: showPage 4s;
    .name {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
        transform-origin: bottom center;
        transition: transform 0.5s ease-out;
        p {
            font-size: 6rem;
            line-height: 1rem;
            letter-spacing: 1px;
            color: #88ada0;
            font-weight: bolder; 
        }
    }
    .info {
        flex: 1;
        position: relative;
        margin-bottom: 100px;
        min-width: 30rem;
        background-color: #e0d1a6;
        border-radius: 0.5rem;
        box-shadow: 25px 25px #88ada0;
        animation: move 4s ease-in-out infinite;
        &::after, &::before {
            position: absolute;
            background-color: #e0d1a6;
            box-shadow: 25px 25px #88ada0;
            border-radius: 6px;
            content: '';
        }
        &::before {
            width: 200px;
            height: 20px;
            bottom: -35px;
            animation: move2 4s ease-in-out infinite; 
        }
        &::after {
            width: 100px;
            height: 20px;
            bottom: -70px;
            animation: move3 4s ease-in-out infinite;
        }
    }
    .footer {
        min-width: 30rem;
        border: 1px solid red;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        .blogIcon {
            width: 20px;
            height: 20px;
            background-color: black;
            mask: url(../public/images/blog.svg) no-repeat center;
            mask-size: 40px 40px;
        }
        .githubIcon {
            width: 20px;
            height: 20px;
            background-color: black;
            mask: url(../public/images/github.svg) no-repeat center;
            mask-size: 40px 40px;
        }
        .wechatIcon {
            width: 20px;
            height: 20px;
            background-color: black;
            mask: url(../public/images/wechat.svg) no-repeat center;
            mask-size: 40px 40px;
        }
        
    }
}

@keyframes showPage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move {
    50% {
        transform: translateY(-20px);
    }
}
@keyframes move2 {
    50% {
        transform: translateY(-5px);
    }
}
@keyframes move3 {
    50% {
        transform: translateY(-10px);
    }
}